.megaMenu {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 30px 40px;
  display: none;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  z-index: 999;
}

.showMenu .megaMenu {
  display: block;
}

.categoryTitle {
  font-weight: 600;
  margin-bottom: 10px;
  color: #121212;
}

.subItem {
  margin: 3px 0;
  font-size: 14px;
  color: #2b2b2b;
  cursor: pointer;
}

.subItem:hover {
  color: #000;
}
